/* File Name- COMP125- MidTerm Test
* Author's Name- Aakriti Gupta
* Website Name- Travel Report
* Description- This file consists of styling attributes related to the index page.
*/
.navbar {
    opacity: 0.8;
}

#MainTitle {
    font-size: 4em;
    color: #5690CF;
    padding-top: 0.5em;
   
}

main {
    padding-top: 3 em;
    background-color: lightcyan;
}

article, section {
    font-size: 1.35em;
}

#contactForm{
    margin-bottom: 4em;
}
#pictureSlides{
    float: inherit;
    padding-right: 4.375em;
    padding-left: 4.375em;
}
#mainContent{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

